<span class="graytitle">詳細検索</span>
<form action="/result" method="get" >
<ul class="pageitem">
  <li class="form">
  <select name="tv_station">
    <%= tv_station_options %>
  </select>
  <span class="arrow"></span>
  </li>
  <li class="form">
  <select name="date">
    <%= date_options %>
  </select>
  <span class="arrow"></span>
  </li>
  <li class="form">
  <select name="time_range">
    <%= time_range_options %>
  </select>
  <span class="arrow"></span>
  </li>
</ul>
<ul class="pageitem">
  <li class="form"> 
  <input name="Submit input" type="submit" value="検索" /> 
  </li> 
</ul>
</form>
